/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

#produtos .produto {
    display: inline-block;
    width: 200px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#produtos img {
    width: 100%;
    height: auto;
}

#produtos .nome {
    font-size: 18px;
    margin: 10px 0;
}

#produtos .preco {
    color: green;
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
